
@import url(fonts/font.css);

*{
    padding: 0;
    margin: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 991px) {
    header .container-fluid{
        width: auto !important;
    }
    main{
        position: static !important;
    }
    .section1{
        background-image: url("https://optim.tildacdn.com/tild3862-6632-4832-b766-373933333937/-/format/webp/Tatika__.jpg") !important;
        height: 90vh !important;
    }
    .btn-Katalog, .btn-Katalog:hover, .btn-check:focus{
        margin-bottom: 25% !important;
    }
    .Section__form__wrapper{
        height: 80vh !important;
    }
    .BtnLiked, .BtnBucket, .BtnSearch{
        margin-left: 15px;
    }
    .navbar>.container-fluid{
        flex-wrap: nowrap !important;
    }
    
}

@media screen and (max-width: 720px) {
    .Section-for-customers__Navigation-for-content{
        flex-direction: column;
    }
    .Section-for-customers__Title{
        font-size: 30pt !important;
       
    }
    .footer__InfoList{
        justify-content: center !important;
    }
    .InfoList__wrapper{
        width: 100%;
    }
    .footer__privacyText{
        margin-left: auto;
    }
    .links__payment{
        margin-right: auto;
    }
}

    
@media screen and (max-width: 620px)
{
    .navbar{
        margin: auto !important;
    }
    .menu__name,  .BtnLogo{
        display:none !important;
    }
    .BtnOpenNav{
        justify-content: start !important;

    }
  
}
header{
    position: static !important;
    background-color: #afafaf !important;
   
   
}
main{
    position: static !important;
    background-color: #ffffff;
}

.Section-for-customers{
    margin-left: 10%;
    margin-right: 10%;
}
/* header */
.navbar{
    font-family: 'FuturaPT';
    background-color: transparent;
    height: auto;
    margin-left: 10%;
    margin-right:15%;
}

.siteLogo{
    max-height: 80px;
    width: 100%;
}
.image-wrapper{
    position: relative;
}
.item-like__counter{
    text-align: center;
    top: 50%;
    left: 50%;
    width: 15px;

    height: 15px;
    position: absolute;
    background: #0f0f0f;
    color: #f8f8f8;
    border-radius: 50%;
    font-size: 12px;
}
.item-bucket__counter{
    text-align: center;
    top: 55%;
    left: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    background: #0f0f0f;
    color: #f8f8f8;
    border-radius: 50%;
    font-size: 12px;
}
/* button customization */
.btn-primary{
    width: 75px;
    height: 35px;
    background-color: transparent;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: rgb(23,23,23, 0.3);
    border-color: rgb(23,23,23, 0.3);
    box-shadow: 0 0 0 0.25rem rgb(23,23,23, 0.3);
}
.btn-primary:active {
    color: #fff;
    background-color: rgb(23,23,23, 0.3);
    border-color:  rgb(23,23,23, 0.3);
}
.btn-primary:active:focus{
    box-shadow: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: rgb(23,23,23, 0.3);
    border-color:  rgb(23,23,23, 0.3);
}


.btn-close:active{
   border: none;
}
.btn-close:active:focus{
    box-shadow: none;
}
.btn-close:focus{
    box-shadow: none;
}

/* /button customization */
.offcanvas-body__itemList{
    list-style-type: none !important;
    padding: 0;
    font-size: 20pt;
}
.offcanvas-body__itemList  li a{
    color: #1c1c1c;
    text-decoration: none !important;
}
.offcanvas-body__socials{
    margin-top: 60vh;
}
.btnNavLine{
    background-color: #ffffff;
   

    height: 3px;
    
}
.offcanvas-start{
    font-family: 'RoundedElegance';
   
}
.offcanvas-start{
    padding: 40px;
    font-size: 16px;
}


.offcanvas-start a{
    font-size: 16px;
   
}
/* top canvas*/
.offcanvas-top{
    height: 150px; 
    
}

/* search offcanvas */


.Search-bar-Wrapper{
    border: 1px solid #afafaf;

    max-width: 750px;
}

.offcanvas-top .btn-close{
    margin-left: 2%;
    

}

.offcanvas-top textarea, .offcanvas-top input, .offcanvas-top input[type]{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    height: 60px;
    width:100%;
   
}
.offcanvas-top textarea:active, .offcanvas-top input:active, .offcanvas-top input[type]:active{
    box-shadow: #ffffff;
}
.offcanvas-top textarea:focus, .offcanvas-top input:focus, .offcanvas-top input[type]:focus {
    border: none;
    outline: 0 none;
}
/* offcanvas Liked  */
.offcanvas-end{
    width: 560px;
    padding: 40px;
}
.offcanvas-end div{
    font-family: 'Montserrat';
}

.offcanvas-body .offcanvas-end__Title{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
}
.Items__list{
    padding-top: 10px;
}
.Item__attributes{
    font-size: 12px;
}
.offcanvas-end .remove img {
    width: 24px;
    height: 24px;


}

.Item__name{
    font-size: 16px;
    font-weight: bold;
}
.offcanvas-end .image-wrapper{
    width: 72px;
}
.Item img{
    border-radius: 5px;
    width: 72px;
    height: 72px;
}
/* bucket canvas */
.bucket__ItemCounter{
    padding-left: 5px;
    padding-right: 5px;
}
.btnIncrease__counter img, .btnDecrease__counter img{
    width: 20px;
    height: 20px;
}
.Items__list
{   
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}
.Section-for-customers__Title{
    font-size: 42pt;
    margin-bottom: 30px;
}
.Section-for-customers__Navigation-for-content{
    display: flex;
    flex-basis: 25%;

}
.Navigation-for-content__navButton{
    background-color: #ffffff;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000; /* Set bottom border width and color */
    opacity: 0.5;
    padding: 10px 20px;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 40px;
    cursor: pointer;
    transition: ease-in-out;
}
.Navigation-for-content__navButton:hover{
    opacity: 1;
    border-bottom: 3px bottom;
}
.Navigation-for-content__navButton:focus{
    opacity: 1;
    border-bottom: 3px bottom;
}
.content__Main{
    margin-bottom: 20px;
}
.content__Title{
    font-weight: bold;
    margin-top: 20px;
}
.content__Main ol{
    padding-left: 44px;
    margin-bottom: 10px;
}
.content__Main ul{
    padding-left: 22px;
    margin-bottom: 10px;
}
.content__Main a{
    text-decoration-color: #ff8562;
}
.content__Main u{
    text-decoration: none;
    color: #ff8562;
}
.Section-for-customers__content #contentDelivery{
   display:block;
}
.Section-for-customers__content #contentPayment{
    display:none;
}
.Section-for-customers__content #contentReturn-of-goods{
    display:none;
}
.Section-for-customers__content #contentGuarantee{
    display:none;
}
.footer{
    position: static !important; 
    padding-top: 60px;
    color:#f8f8f8;
    background-color: #1c1c1c;
    width: 100%;
    height: 100%;
}
.footer__InfoList{
   
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.InfoList__wrapper ul {
    padding: 0;
    list-style-type: none;
}

.InfoList__Title{
    
    font-size: 20pt;
    margin-bottom: 20px;
}
.InfoList__Item{
    font-size: 14pt;
    margin-bottom: 15px;
}
.InfoList__Item a{
   text-decoration: none;
   color:#f8f8f8
}
.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}
.links__Social{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__breakline{
    width: 100%;
    background-color: #f8f8f8;
    background-position: center center;
    height: 1px;
    border-radius: 2px;
    margin: 20px 0px 20px 0px;
}
.footer__privacyText{
    text-align: right;
    font-size: 12px;
}